---
layout: home
title: Test Page
---

<p>
    This is a test page with some layout tests! It also serves as documentation.
</p>

<h2>Alerts</h2>
<p>
    Alerts are boxes that highlight a certain important information.
    They are meant to grab the readers attention.
    Alerts can be created by creating the following container structure:
</p>

{% highlight html %}
<div class="alert">
    <div class="title">
        Title
    </div>
    <div class="content">
        Content
    </div>
</div>
{% endhighlight %}

<div class="alert">
    <div class="title">
        Alert
    </div>
    <div class="content">
        Note that this is now highlighted separately.
    </div>
</div>

<p>
    You may also add one of the following classes to your alert container:
</p>
<ul>
    <li><code>info</code></li>
    <li><code>warning</code></li>
    <li><code>danger</code></li>
</ul>

<div class="alert info">
    <div class="title">
    &#8505;&#65039; Information
    </div>
    <div class="content">
        This is some text containing some side information that
        should be highlighted.
    </div>
</div>
    
<div class="alert warning">
    <div class="title">
    &#9888;&#65039; Warning!
    </div>
    <div class="content">
        Keep this very important thing in mind before processing.
    </div>
</div>
    
<div class="alert danger">
    <div class="title">
    &#128721; Danger
    </div>
    <div class="content">
        Do not do this unless you really know what you are doing!
    </div>
</div>

<h2>Graphs</h2>
<p>
    See the following page:
    <a href="./graph">graph.md</a>
</p>
