/* === GLOBAL SETTINGS === */

// Fonts
$font-global: FiraCode, monospace;
$font-title: FiraCode, monospace;
$font-nav: FiraCode, monospace;
$font-brand: FiraCode, monospace;
$font-code: FiraCode, monospace;

// Page Size
$max-mobile-size: 499px;
$min-desktop-size: 500px;

// Sized
$nav-padding: 5px;
$nav-border: 1px;
$nav-height: 45px;

$content-width-desktop: 800px;
