//shortcuts
$bg: "bg";
$text: "text";
$navbar-bg: "navbar-bg";
$navbar-text: "navbar-text";
$code-text: "code-text";
$link-text: "link-text";
$link-text-hover: "link-text-hover";

$alert-bg: "alert-bg";
$alert-text: "alert-text";
$alert-title-bg: "alert-title-bg";
$alert-title-text: "alert-title-text";
$alert-info: "alert-info";
$alert-info-text: "alert-info-text";
$alert-warning: "alert-warning";
$alert-warning-text: "alert-warning-text";
$alert-danger: "alert-danger";
$alert-danger-text: "alert-danger-text";

$positive: "positive";
$negative: "negative";
$broken: "broken";
$not-applicable: "not-applicable";

//themes
$themes: (
    dark: (
        bg: white,
        text: black,
        navbar-bg: green,
        navbar-text: white,
        code-text: green,
        link-text: green,
        link-text-hover: darkgreen,
        alert-bg: black,
        alert-text: black,
        alert-title-bg: black,
        alert-title-text: white,
        alert-info: lightgrey,
        alert-info-text: black,
        alert-warning: orange,
        alert-warning-text: black,
        alert-danger: #a70e0e,
        alert-danger-text: white,
        positive: green,
        negative: red,
        broken: orange,
        not-applicable: gray
    ),
    default: (
        bg: black,
        text: white,
        navbar-bg: green,
        navbar-text: white,
        code-text: lightgreen,
        link-text: lightgreen,
        link-text-hover: limegreen,
        alert-bg: black,
        alert-text: white,
        alert-title-bg: rgb(207, 207, 207),
        alert-title-text: black,
        alert-info: rgb(70, 70, 70),
        alert-info-text: white,
        alert-warning: rgb(143, 79, 0),
        alert-warning-text: white,
        alert-danger: darkred,
        alert-danger-text: white,
        positive: lightgreen,
        negative: rgb(255, 101, 101),
        broken: yellow,
        not-applicable: lightgray
    ),
);

@mixin themed() {
    @each $theme, $map in $themes {
        .theme--#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function t($key) {
    @return map-get($theme-map, $key);
}
