---
layout: home
title: Compatibility Report
---

<p>
    This document aims to list all tested browsers and operating systems
    and to document the limitations of each platform. Please report
    your browser and how well it works via GitLab. Keep in mind that
    current systems shouldn't have any problems, I'm mostly interested
    in older browsers and OS'es.
</p>

<table class="version-table">
    <thead>
        <tr>
            <th rowspan="2">Version</th>
            <th rowspan="2">Operating System</th>
            <th colspan="5">Load</th>
            <th colspan="4">Display</th>
            <th colspan="2">Features</th>
        </tr>
        <tr>
            <th>Page</th>
            <th>over HTTPS</th>
            <th>Styles</th>
            <th>Fonts</th>
            <th>Scripts</th>

            <th>Navbar</th>
            <th>Alerts</th>
            <th>Emojis</th>
            <th>Code</th>

            <th>Dark Mode</th>
            <th>Search</th>
        </tr>
    </thead>
    <tbody>
        <!-- --- INTERNET EXPLORER --- -->
        <tr>
            <td class="center" colspan="13">
                Internet Explorer
            </td>
        </tr>
        <!-- Internet Explorer 6.x -->
        <tr>
            <td><a href="#ie6">6.0</a></td>
            <td>Windows XP (SP3)</td>

            <td class="yes">yes</td>
            <td class="no">no</td>
            <td class="yes">yes</td>
            <td class="no">no</td>
            <td class="yes">yes</td>

            <td class="no">no</td>
            <td class="broken">yes*</td>
            <td class="no">no</td>
            <td class="broken">broken</td>

            <td class="no">no</td>
            <td class="no">no</td>
        </tr>
        <!-- Internet Explorer 6.x -->
        <tr>
            <td><a href="#ie8">8.0</a></td>
            <td>Windows 7</td>

            <td class="yes">yes</td>
            <td class="no">no*</td>
            <td class="yes">yes</td>
            <td class="no">no</td>
            <td class="yes">yes</td>

            <td class="no">no</td>
            <td class="broken">yes*</td>
            <td class="no">no</td>
            <td class="broken">broken</td>

            <td class="no">no</td>
            <td class="no">no</td>
        </tr>

        <!-- --- LYNX --- -->
        <tr>
            <td class="center" colspan="13">
                <a href="#lynx">Lynx</a>
            </td>
        </tr>
        <!-- Lynx 2.9.0 -->
        <tr>
            <td>2.9.0dev.6</td>
            <td>Ubuntu GNU/Linux</td>

            <td class="yes">yes</td>
            <td class="yes">yes</td>
            <td class="not-applicable">n/a</td>
            <td class="not-applicable">n/a</td>
            <td class="not-applicable">n/a</td>

            <td class="not-applicable">n/a</td>
            <td class="not-applicable">n/a</td>
            <td class="broken">yes*</td>
            <td class="not-applicable">n/a</td>

            <td class="not-applicable">n/a</td>
            <td class="no">no</td>
        </tr>

        <!-- --- MOZILLA FIREFOX --- -->
        <tr>
            <td class="center" colspan="13">
                Mozilla Firefox
            </td>
        </tr>
        <!-- Firefox 2.0 -->
        <tr>
            <td>2.0</td>
            <td>Windows XP (SP3)</td>

            <td class="yes">yes</td>
            <td class="no">no</td>
            <td class="yes">yes</td>
            <td class="no">no</td>
            <td class="yes">yes</td>

            <td class="broken">broken</td>
            <td class="yes">yes</td>
            <td class="no">no</td>
            <td class="broken">broken</td>

            <td class="no">no</td>
            <td class="no">no</td>
        </tr>
        <!-- Firefox 52.9 -->
        <tr>
            <td><a href="#firefox52">52.9.0</a></td>
            <td>Windows XP (SP3)</td>

            <td class="yes">yes</td>
            <td class="yes">yes</td>
            <td class="yes">yes</td>
            <td class="yes">yes</td>
            <td class="yes">yes</td>

            <td class="yes">yes</td>
            <td class="yes">yes</td>
            <td class="yes">yes</td>
            <td class="yes">yes</td>

            <td class="yes">yes</td>
            <td class="yes">yes</td>
        </tr>

        <!-- --- MYPAL --- -->
        <tr>
            <td class="center" colspan="13">
                MyPal
            </td>
        </tr>
        <!-- MyPal 29.3 -->
        <tr>
            <td>29.3</td>
            <td>Windows XP (SP3)</td>

            <td class="yes">yes</td>
            <td class="yes">yes</td>
            <td class="yes">yes</td>
            <td class="yes">yes</td>
            <td class="yes">yes</td>

            <td class="yes">yes</td>
            <td class="yes">yes</td>
            <td class="yes">yes</td>
            <td class="yes">yes</td>

            <td class="yes">yes</td>
            <td class="yes">yes</td>
        </tr>

        <!-- --- NETSCAPE --- -->
        <tr>
            <td class="center" colspan="13">
                Netscape Navigator
            </td>
        </tr>
        <!-- Netscape 4.8 -->
        <tr>
            <td><a href="#netscape4">4.8</a></td>
            <td>Windows XP (SP3)</td>

            <td class="yes">yes</td>
            <td class="no">no</td>
            <td class="no">no</td>
            <td class="no">no</td>
            <td class="yes">yes</td>

            <td class="no">no</td>
            <td class="no">no</td>
            <td class="no">no</td>
            <td class="no">no</td>

            <td class="no">no</td>
            <td class="no">no</td>
        </tr>
        <!-- Netscape 6.8 -->
        <tr>
            <td><a href="#netscape6">6.2</a></td>
            <td>Windows XP (SP3)</td>

            <td class="yes">yes</td>
            <td class="no">no</td>
            <td class="yes">yes</td>
            <td class="no">no</td>
            <td class="yes">yes</td>

            <td class="broken">broken</td>
            <td class="yes">yes</td>
            <td class="no">no</td>
            <td class="broken">broken</td>

            <td class="no">no</td>
            <td class="no">no</td>
        </tr>

        <!-- --- SAFARI --- -->
        <tr>
            <td class="center" colspan="13">
                Safari
            </td>
        </tr>
        <!-- iPod Touch 4G -->
        <tr>
            <td><a href="#ipod4">iOS 6.1.6</a></td>
            <td>iOS 6.1.6 <small>iPod Touch 4G</small></td>

            <td class="broken">yes*</td>
            <td class="no">no</td>
            <td class="yes">yes</td>
            <td class="yes">yes</td>
            <td class="yes">yes</td>

            <td class="no">no</td>
            <td class="yes">yes</td>
            <td class="yes">yes*</td>
            <td class="yes">yes</td>

            <td class="no">no</td>
            <td class="not-applicable">n/t</td>
        </tr>
        <!-- iPad 2 -->
        <tr>
            <td><a href="#ipad2">iOS 9.3.5</a></td>
            <td>iOS 9.3.5 <small>iPad 2</small></td>

            <td class="yes">yes</td>
            <td class="broken">yes*</td>
            <td class="yes">yes</td>
            <td class="yes">yes</td>
            <td class="yes">yes</td>

            <td class="yes">yes</td>
            <td class="yes">yes</td>
            <td class="yes">yes*</td>
            <td class="yes">yes</td>

            <td class="no">no</td>
            <td class="no">no</td>
        </tr>
    </tbody>
</table>

<p class="table-footer">
    last updated on 11 Jan 2022
</p>

<h2>Benchmark Descriptions</h2>
<h3>Possible Ratings</h3>
<p>
    The following ratings are possible:
</p>
<ul>
    <li>
        <span class="yes">yes</span> means the benchmark has
        been passed without any notable issues.
    </li>
    <li>
        <span class="broken">yes*</span> means the benchmark has
        been passed but there are some minor issues.
    </li>
    <li>
        <span class="broken">broken</span> means the benchmark has
        not been passed fully. It might work, it might not.
    </li>
    <li>
        <span class="no">no</span> means the benchmark has not been
        passed at all.
    </li>
    <li>
        <span class="not-applicable">n/a</span> means that this benchmark
        is not applicable for this browser / operating system. Usually to
        be described in remarks.
    </li>
    <li>
        <span class="not-applicable">n/v</span> means that this benchmark
        could not be tested. Usually to be described in remarks.
    </li>
</ul>

<h3>Load</h3>
<p>
    Under "Load", the report describes if a certain resource
    loads and renders, regardless of its quality.
</p>
<ul>
    <li>
        <b>Page</b>:
        Describes if the page loads at all. If this test fails,
        further tests are irrelevant.
    </li>
    <li>
        <b>over HTTPS</b>:
        Describes if the page can be loaded over HTTPS.
        Requires that the browser supports current encryption
        technologies and trusts current certificate authorities.
    </li>
    <li>
        <b>Styles</b>:
        Describes if CSS stylesheets load.
        If a document appears unstyled (loading with default formatting),
        the test is considered failed.
    </li>
    <li>
        <b>Fonts</b>:
        Describes if the browser was able to load the CSS-provided
        fonts. For this test to succeed, multiple TTF fonts have to
        be loaded from the server and displayed correctly. The fonts
        provided are called <code>Fira Sans</code>, <code>Fira Mono</code>
        and <code>Fira Code</code> (in different variants).
    </li>
    <li>
        <b>Scripts</b>:
        Describes if the browser was able to load the provided JavaScript
        files. Does not evaluate if features actually work.
        Can be validated by observing the "Theme" buttons in the Navigation Bar.
        Browsers that support <code>localStorage</code> should have
        this button displayed.
    </li>
</ul>

<h3>Display</h3>
<p>
    "Display" evaluates key features of the website being displayed
    correctly. These include:
</p>
<ul>
    <li>
        <b>Navbar</b>:
        The navigation bar should be displayed on top of the screen.
        It remains on top of the page, covers the full width, has a fixed
        height and displays the dropdown menu correctly
        (located under "Posts"). The "Search" link should be aligned on
        the right side of the screen. Report as "broken" if the navigation bar
        is displayed but slimmer than it should be, or link alignments are wrong.
    </li>
    <li>
        <b>Alerts</b>:
        Alert Boxes have a defined padding that should be honored.
        It is surrounded with a border and the title has a fixed
        background color. Depending on the type of alert, a certain
        background color for its content is expected.
        "Broken" means that styling is applied but certain aspects
        are not as expected, "No" means no highlighting is provided
        at all.
    </li>
    <li>
        <b>Emojis</b>:
        Most older systems won't support emojis and render them either
        as question marks ("?") or missing character boxes.
    </li>
    <li>
        <b>Code</b>:
        The website may provide code in a green box which includes
        syntax highlighting. "Broken" means that basic syntax highlighting
        doesn't work or that the box, where it should be contained in,
        is not aligned correctly. "No" means no formatting or syntax highlighting
        has taken place and no distinction between regular text and code
        (other than the font) is visible.
    </li>
</ul>

<h3>Features</h3>
<p>
    "Features" describes additional, optional website features that
    are expected to not work on older systems but are not required
    for the websites operation.
</p>
<ul>
    <li>
        <b>Search</b>:
        Search requires JavaScript and a JavaScript library loading
        a JSON document from the server which contains an index of
        all blog posts and their meta data. If the library cannot
        be loaded correctly, the code is expected to abort gracefully,
        hide the search input and display a warning with links to the
        full post list or category list. This warning means, the test
        has failed, resulting in "No". "Broken" means that the search
        technically loads but might not work as expected or some display
        issues might be visible.
    </li>
    <li>
        <b>Dark Mode</b>:
        This website features a "Dark Mode", styling the page in dark colors
        for easier reading at night. For this to work,
        the current setting has to be stored in the browsers local storage.
        If the browser doesn't support <code>localStorage</code>, this feature
        is disabled and removed from the navigation bar, resulting in "No".
    </li>
</ul>

<h2>Remarks</h2>
<p>
    This section lists some remarks on the report summary provided above.
</p>

<h3 id="ie6">Microsoft Internet Explorer 6.0</h3>
<p>
    Regarding <b>Alerts</b>: Alerts are colored correctly but spacing is not present.
</p>
<p>
    Regarding <b>Code</b>: Code is displayed but Syntax Highlighting is not working correctly.
</p>

<h3 id="ie8">Windows Internet Explorer 8.0</h3>
<p>
    IE8 shares the same issues as IE6, however <b>Emojis</b> seem to work
    <i>slightly</i> better.
</p>
<p>
    Due to the OS, IE8 on Windows 7 might be able to actually load the
    site over HTTPS, however I could not get it to load on a fresh install
    of Windows 7 with no service packs or updates installed, so I count it
    as a Fail.
</p>

<h3 id="lynx">Lynx</h3>
<p>
    Lynx is a command-line browser. As such, various features are not working
    and they are expected to not work.
</p>
<ul>
    <li>JavaScript is not available</li>
    <li>CSS is not available, therefore styling is not working</li>
</ul>
<p>
    Because CSS is not available, a few blocks that should be hidden are displayed
    anyway. For example, the desktop and mobile navbars are displayed. The search
    template is displayed. Also "Dark Mode" is not applicable.
</p>
<p>
    Support for <b>Emojis</b> is dependant on the terminal emulator being used.
</p>

<h3 id="firefox52">Mozilla Firefox 52.9</h3>
<p>
    Firefox <code>52.9.0</code> was the last ESR release of Firefox supporting
    Windows XP.
</p>

<h3 id="netscape4">Netscape Navigator 4.8</h3>
<p>
    No <b>stylings</b> are applied except for the "sans-serif"
    font.
</p>
<p>
    <b>Emojis</b> are displayed at question marks ("?").
    The <b>footer</b> navigation renders the separator as
    "&amp;ndash;" instead of "&ndash;".
</p>

<h3 id="netscape6">Netscape Navigator 6.2</h3>
<p>
    The page offset to compensate for the navigation bar is not
    accounted for. As such the title of the page is slightly covered
    by the navbar.
</p>

<h3 id="ipod4">Safari on iPod Touch 4</h3>
<p>
    While loading, page build takes a very long time, probably due to
    fonts. The <b>Navbar</b> is not shown therefore also the <b>Dark Mode</b>
    switch button is missing. A post might be reader through Safari's
    <b>Reader</b> feature.
</p>
<p>
    <b>Emojis</b> are generally supported, however you might see missing
    character boxes because iOS 6 doesn't support all current Unicode characters.
</p>
<p>
    Due to long load times, certain features could not be tested. The device does
    not seem to have enough resources to load the full page, but Safari seems to
    support a lot of the features the website provides.
</p>

<h3 id="ipad2">Safari on iPad 2</h3>
<p>
    The page loads fine. All styling seems to work just fine.
</p>
<p>
    The page can be loaded over HTTPS, however you will encounter a certificate error
    since iOS' certificate store might not contain current certificates.
</p>
<p>
    <b>Emojis</b> are generally supported, however you might see missing
    character boxes because iOS 9 doesn't support all current Unicode characters.
</p>
<p>
    The browser doesn't seem to support <code>localStorage</code> therefore
    the "Dark Mode" button is removed.
</p>
