---
layout: home
title: Home
---

<p style="text-align: center;">
    <i>Welcome on my personal home page and blog!</i>
</p>

<p>
    If you want to know more about myself, check out
    <a href="/portfolio">my Portfolio (in English, Work in Progress)</a>
    or my older, but better looking
    <a href="https://rgunti.ch">Portfolio (in German)</a>.
</p>

<h2>Latest posts</h2>
{% for post in site.posts limit:5 %}
<div class="homepage blog-post">
    <div class="post-heading">
        <span class="meta date">{{ post.date | date:"%-d %b %Y" }}</span>:
        <a href="{{ site.baseurl }}{{ post.url }}" class="post-title">{{ post.title }}</a>
    </div>
    <div class="post-metadata">
        in <span class="meta category">
            <a href="{{ site.baseurl }}/posts/categories#c_{{ post.categories }}">{{ post.categories }}</a>
        </span>
    </div>
    <div class="post-preview">
        {{ post.excerpt | strip_html | strip_newlines | truncatewords: 50, ' &hellip;' }}
        <span class="read-more">
            <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
        </span>
    </div>
    <div class="post-tags">
        {% for tag in post.tags %}
        <a href="{{ site.baseurl }}/posts/tags#tag_{{ tag }}" class="tag-pill">#{{ tag }}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}

<div class="home-feed-footer">
    <a href="{{ site.baseurl }}/posts">More Posts</a>
    &ndash;
    <a href="{{ site.baseurl }}/feed.xml">RSS Feed</a>
</div>
