---
layout: home
title: Search
---

<noscript>
    <b>Note</b>: This page requires JavaScript to work.
    If you are not able to run JavaScript in your browser,
    you may want to use <a href="{% link posts/index.html %}">this page</a>
    for a full list of all posts with excerpts or
    <a href="{% link posts/categories.html %}">this page</a>
    for a list of all posts sorted by categories instead.
</noscript>

<!-- info if search cannot be initialized -->
<div id="search-unavailable" class="alert warning">
    <div class="title">
        Search not available
    </div>
    <div class="content">
        Your browser does not support all the features required
        to run search. You may want to use
        <a href="{% link posts/index.html %}">this page</a>
        for a full list of all posts with excerpts or
        <a href="{% link posts/categories.html %}">this page</a>
        for a list of all posts sorted by categories instead.
    </div>
</div>

<!-- Html Elements for Search -->
<div id="search-container" class="hidden">
    <input type="text" id="search-input"
           placeholder="Enter a search term here ...">
    <ul id="results-container"></ul>
</div>
<ul id="search-container-template" class="template">
    <li>
        <a href="{{ site.url }}{url}">{title}</a>
        <br>
        <small>
            on <b>{date_f}</b>
            by <b>{author}</b>
            in <b>{category}</b>
        </small>
    </li>
</ul>

<!-- Script pointing to search-script.js -->
<script src="/assets/search.js" type="text/javascript"></script>

<!-- Configuration -->
<script>
    const searchConfig = {
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        json: '/assets/search.json',
        searchResultTemplate: document.getElementById('search-container-template').innerHTML
    };
    const searchContainer = document.getElementById('search-container');
    const searchError = document.getElementById('search-unavailable');
    try {
        SimpleJekyllSearch(searchConfig);
        searchContainer.classList.remove('hidden');
        searchError.classList.add('hidden');
    } catch (e) {
    }
</script>