.skip-nav {
    position: absolute;
    transform: translateY(-150%);
    padding: 10px;
    top: 0;
    right: 0;

    @include themed() {
        background-color: t($bg);
    }

    &:focus {
        transform: translateY(0%);
    }
}
