@import 'global/fonts';
@import 'global/settings';
@import 'global/theme';

// Alerts
.alert {
    margin-bottom: 5px;

    & > * {
        padding: 5px;
    }

    .title {
        font-family: $font-title;
        font-weight: bold;

        @include themed() {
            background-color: t($alert-title-bg);
            color: t($alert-title-text);
        }
    }

    @include themed() {
        border: 1px solid t($alert-title-bg);
        color: t($alert-text);

        // Alert Severities
        &.info {
            background-color: t($alert-info);
            color: t($alert-info-text);
        }
        &.warning {
            background-color: t($alert-warning);
            color: t($alert-warning-text);
        }
        &.danger {
            background-color: t($alert-danger);
            color: t($alert-danger-text);
        }
    }
}
