@import 'global/fonts';
@import 'global/settings';
@import 'global/theme';

// Base Layout
html, body {
    font-family: $font-global;
    @include themed() {
        background-color: t($bg);
        color: t($text);
    }
    margin: 0;
}

// Global Link Styling
a {
    @include themed() {
        color: t($link-text);

        &:hover {
            color: t($link-text-hover);
        }
    }

    // Wrap link with []
    &::before {
        content: '[';
    }
    &::after {
        content: ']';
    }
}

// Templates are always hidden
.template {
    display: hidden;
}

// Page Content
#page-content {
    .page-title {
        text-align: center;
    }

    article {
        & > * {
            margin: auto;
        }
    
        h1, h2, h3, h4, h5, h6, p, ul, ol, & > small,
        .alert {
            max-width: $content-width-desktop;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        // Images
        img {
            max-width: 100%;
        }
    }
}

// Code
code {
    @include themed() {
        color: t($code-text);
    }
}
code,
figure.highlight,
pre.highlight {
    font-family: $font-code;
}
figure.highlight,
pre.highlight {
    margin: auto;
    max-width: $content-width-desktop;
    padding: 5px 15px;

    @include themed() {
        border: 2px solid t($code-text);
    }
}
pre.highlight {
    overflow-y: auto;
}

// Tables
table {
    border-collapse: collapse;

    th, td {
        padding: 2px;

        @include themed() {
            border: 1px solid t($text);
        }

        &:nth-child(1),
        &:nth-child(2) {
            font-weight: bold;
            text-align: left;
        }

        &.left {
            text-align: left;
        }
        &.center {
            text-align: center;
        }
    }
}
.table-footer {
    font-size: smaller;
    text-align: center;
}

// Utils
.hidden,
.template {
    display: none;
}
.positive, .yes {
    @include themed() {
        color: t($positive);
    }
}
.negative, .no {
    @include themed() {
        color: t($negative);
    }
}
.broken {
    @include themed() {
        color: t($broken);
    }
}
.not-applicable {
    @include themed() {
        color: t($not-applicable);
    }
}
