footer {
    margin: auto;
    text-align: center;
}

.copyright-note,
.generation-timestamp-note,
.footer-links {
    font-size: smaller;
    margin-top: 0;
    margin-bottom: 5px;
}
.copyright-note {
    font-style: italic;
}
.generation-timestamp-note {
    font-style: italic;

    .generated-timestamp {
        font-weight: bold;
    }
}
.footer-links {
    margin-bottom: 50px;
}
