@import 'global/fonts';
@import 'global/settings';
@import 'global/theme';

.global-header {
    &.header-ua {
        background-color: transparentize($color: #0057b7, $amount: .25);
        color: #ffd700;
    }

    .global-header-content {
        margin: auto;
        max-width: $content-width-desktop;
        text-align: center;
    }

    padding: 5px;
    margin-bottom: 5px;
}
