.homepage.blog-post {
  margin-top: 15px;

  .meta {
    font-weight: bold;
  }
  .post-title {
    font-weight: bold;
    font-size: x-large;
  }
}

.home-feed-footer {
  margin-top: 30px;
  margin-bottom: 30px;

  text-align: center;
}