@import 'global/fonts';
@import 'global/settings';
@import 'global/theme';

.navbar {
    margin: auto;
    text-align: center;

    & > * {
        display: inline;
    }

    .brand {
        display: block;
        font-weight: bold;
        font-size: larger;

        &::before, &::after {
            content: '';
        }
    }

    .dropdown {
        &::before {
            content: '[';
        }
        &::after {
            content: ']';
        }

        & > a {
            font-style: italic;
            text-decoration: none;
            &::before {
                content: '';
            }
            &::after {
                content: ' >';
            }
        }

        .dropdown-content {
            display: inline;
        }
    }

    // This theme will not provide a mobile navbar, thus we don't show it
    &.mobile {
        display: none !important;
    }
}
