@import 'global/fonts';
@import 'global/settings';

// Globally applicable
.post-metadata,
.post-tags,
.blog-post,
.categories,
.tags,
.tag-list,
blockquote {
    margin: auto;
    max-width: $content-width-desktop;
}

.post-metadata,
.post-tags {
    font-style: italic;
}

// Post Metadata
.post-metadata {
    .meta {
        font-weight: bold;
    }
}

// Post Tags
.post-tags {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

// Detailed Post Listing
.blog-post {
    & > .post-tags {
        margin-top: 0;
        margin-bottom: 10px;
        padding: 0;
        text-align: right;
    }

    @include themed() {
        border-bottom: 1px solid t($text);
    }

    &:last-child {
        border-bottom: none;
    }
}
.tag-pill {
    &::before {
        content: '(';
    }
    &::after {
        content: ')';
    }
}
.post-preview {
    padding: 10px;

    & > * {
        display: inline;
    }
}

// Tags
.tags .tag > h3 > small {
    font-size: x-small;
}
.tag-list {
    text-align: center;
}

// Images
.fig {
    text-align: center;
    max-width: $content-width-desktop;
    img {
        &.max100 {
            max-height: 100px;
        }
    }
    p, span {
        display: block;
        font-style: italic;
    }
}

// Quotes
blockquote {
    margin: 5px;

    @include themed() {
        border: 1px solid t($text);
    }

    & > p {
        margin: 5px;
    }
}
