@import 'global/fonts';
@import 'global/settings';
@import 'global/theme';

#search-container {
    input {
        width: 100%;
        font-size: large;
        text-align: center;

        @include themed() {
            border: 1px solid t($text);
            border-radius: 5px;
            padding: 10px 0;
            background-color: t($bg);
            color: t($text);
        }
    }
    #results-container {
        margin: auto;
        max-width: $content-width-desktop;
        padding: 15px 0;
        list-style: none;
    }
}
