#markdown-toc::before {
  content: "In this blog post";
  font-weight: bold;
}

// ul level 2: using a-z
#markdown-toc ul {
  list-style: lower-alpha;

  // ul level 3: using numbers
  & ul {
    list-style: decimal;
  }
}

#markdown-toc {
  border: 1px solid #aaa;
  // ul level 1: using numbers
  list-style: decimal;

  & ul {
    margin: 0 !important;
  }
}
