@font-face {
    font-family: FiraCode;
    src: url(/assets/fonts/FiraCode-VariableFont_wght.ttf) format(truetype);
}

@font-face {
    font-family: FiraSans-XC;
    src: url(/assets/fonts/FiraSansExtraCondensed-Regular.ttf);
}
@font-face {
    font-family: FiraSans-C;
    src: url(/assets/fonts/FiraSansCondensed-Regular.ttf);
}
@font-face {
    font-family: FiraSans;
    src: url(/assets/fonts/FiraSans-Regular.ttf);
}
@font-face {
    font-family: FiraCode;
    src: url(/assets/fonts/FiraCode-VariableFont_wght.ttf);
}
