@import 'fonts';
@import 'settings';
@import 'theme';

html, body {
    font-family: $font-global;

    @include themed() {
        color: t($text);
        background: t($bg);

        a {
            color: t($text);
        }
    }
}

.hidden {
    display: none;
}

.navbar {
    font-family: $font-nav;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    @include themed() {
        background: t($navbar-bg);
        color: t($navbar-text);

        border: 1px solid t($navbar-bg);
    }

    display: flex;
    flex-flow: row;

    .brand {
        font-family: $font-brand;
    }

    & > * {
        flex: 0 1 auto;
    }

    .spacer {
        flex: 1;
    }

    a, .dropdown {
        padding: 10px;
        text-align: center;
        text-decoration: none;

        @include themed() {
            color: t($navbar-text);
        }

        &:hover {
            @include themed() {
                background-color: t($bg);
                color: t($text);
            }
        }
    }
    .dropdown {
        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 100;

            @include themed() {
                border: 1px solid t($navbar-bg);
            }

            a {
                display: block;
                text-decoration: none;
                text-align: left;
                padding: 10px;
        
                @include themed() {
                    color: t($navbar-text);
                    background-color: t($navbar-bg);
                }
        
                &:hover {
                    @include themed() {
                        background-color: t($bg);
                        color: t($text);
                    }
                }
            }
        }

        &:hover {
            @include themed() {
                &, & > a {
                    background-color: t($bg);
                    color: t($text);
                }
            }

            .dropdown-content {
                display: block;
            }
        }
    }

    @media only screen and (max-device-width : $max-mobile-size) {
        &.mobile {
            display: auto;
        }
        &.desktop {
            display: none;
        }
    }
    @media only screen and (min-device-width : $min-desktop-size) {
        &.mobile {
            display: none;
        }
        &.desktop {
            display: auto;
        }
    }
}

#page-content {
    margin-top: $nav-padding * 2 + $nav-height;

    @media only screen and (min-device-width : $min-desktop-size) {
        margin: auto;
        margin-top: $nav-padding * 2 + $nav-height;
        max-width: $content-width-desktop;
    }
}

#page-content, footer {
    a:not(.unthemed) {
        @include themed() {
            color: t($link-text);
    
            &:hover {
                color: t($link-text-hover);
            }
        }
    }
}

footer {
    font-size: small;
    text-align: center;
}

.post-metadata {
    .meta {
        font-weight: bold;
    }
}
.post-tags {
    .tag {
        padding: 3px;
        font-style: italic;

        @include themed() {
            border: 1px solid t($text);
        }
    }
}

.post-tags {
    font-size: small;
    margin-top: 30px;
    margin-bottom: 30px;
}

a.tag-pill {
    font-family: monospace;
    padding: 5px;

    @include themed() {
        border: 1px solid t($text);
        border-radius: 5px;
        color: t($text);

        &:hover {
            background-color: t($text);
            color: t($bg) !important;
        }
    }
}

.tags {
    .tag {
        padding-top: 30px;
    }
}
.tags, .categories {
    .page-list {
        .meta {
            font-size: small;
            padding-left: 10px;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
}

#search-container {
    input {
        width: 100%;
        font-size: large;
        text-align: center;

        @include themed() {
            border: 1px solid t($text);
            border-radius: 5px;
            padding: 5px 0;
            background-color: t($bg);
            color: t($text);
        }
    }
    #results-container {
        padding: 15px 0;
        list-style: none;

        a {
            font-size: large;
        }
    }
}

.template { display: none; }

// Code
code {
    font-family: $font-code;
    @include themed() {
        color: t($code-text);
    }
}
figure.highlight,
pre.highlight {
    font-family: $font-code;
    border: 5px solid green;
    padding: 10px;
}

// Alerts
.alert {
    margin: 5px;
    @include themed() {
        border: 1px solid t($alert-title-bg);
        color: t($alert-text);
    }

    @include themed() {
        &.info {
            background-color: t($alert-info);
            color: t($alert-info-text);
        }
        &.warning {
            background-color: t($alert-warning);
            color: t($alert-warning-text);
        }
        &.danger {
            background-color: t($alert-danger);
            color: t($alert-danger-text);
        }
    }

    & > * {
        padding: 5px;
    }

    .title {
        font-family: $font-title;
        font-weight: bold;

        @include themed() {
            background-color: t($alert-title-bg);
            color: t($alert-title-text);
        }
    }
}

// Version Table
.version-table {
    border-collapse: collapse;
    width: 100%;

    th, td {
        text-align: center;
        padding: 2px;

        @include themed() {
            border: 1px solid t($text);
        }

        &:nth-child(1),
        &:nth-child(2) {
            font-weight: bold;
            text-align: left;
        }

        &.left {
            text-align: left;
        }
        &.center {
            text-align: center;
        }
    }
}

.positive, .yes {
    @include themed() {
        color: t($positive);
    }
}
.negative, .no {
    @include themed() {
        color: t($negative);
    }
}
.broken {
    @include themed() {
        color: t($broken);
    }
}
.not-applicable {
    @include themed() {
        color: t($not-applicable);
    }
}
