---
layout: home
title: Portfolio
---

<div class="alert info">
    <div class="title">
        &#128679; Work in Progress
    </div>
    <div class="content">
        This page is currently a work in progress!
        For my previous portfolio website (in German), visit this link:
        <a href="https://rgunti.ch" target="blank">https://rgunti.ch</a>
    </div>
</div>

<!-- CV -->
<div class="cv">
    <h1>My CV</h1>
    <p>
        During my carrier these were the places I have been working for.
    </p>
    <div>
        <h3>RWE Supply &amp; Trading GmbH</h3>
        <p>Software Developer &amp; Operator in Dispatching</p>
        <ul class="tasks">
            <li>Development and Operation</li>
        </ul>
    </div>
    <div>
        <h3>SAE Institute</h3>
        <p>Diploma / Bachelor in Games Development</p>
    </div>
    <div>
        <h3>Abraxas Informatik AG</h3>
        <p>Full Stack Java Web Developer</p>
        <ul class="tasks">
            <li>Maintenance and development of Police department applications</li>
            <li>Development of a common data service</li>
        </ul>
    </div>
    <div>
        <h3>Infover AG</h3>
        <p>Full Stack Java Web Developer</p>
        <ul class="tasks">
            <li>Maintenance and development of Police department applications</li>
        </ul>
    </div>
    <div>
        <h3>Kantonsschule Frauenfeld</h3>
        <p>Vocational Education and Training in Computer Science</p>
        <ul class="tasks">
            <li>
                Certified Computer Scientist with a Federal Diploma of Vocational Education and Training
            </li>
        </ul>
    </div>
</div>

<!-- Languages -->
<div>
    <h1>Languages</h1>
    <p>
        These are the languages I speak.
    </p>
    <ul>
        <li>English</li>
        <li>German</li>
    </ul>
</div>

<!-- Abilities -->
<div>
    <h1>Abilities</h1>
    <p>
        These are the languages and technologies I am most
        familiar with:
    </p>
    <ul>
        <li>
            <span>Languages</span>
            <ul>
                <li>C#</li>
                <li>Java</li>
                <li>JavaScript / TypeScript</li>
                <li>Python</li>
                <li>PHP</li>
            </ul>
        </li>
        <li>
            <span>Web Technologies</span>
            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
            </ul>
        </li>
        <li>
            <span>Databases</span>
            <ul>
                <li>MongoDB</li>
                <li>MySQL / MariaDB</li>
                <li>OracleDB</li>
                <li>MS-SQL</li>
                <li>Redis</li>
            </ul>
        </li>
        <li>
            <span>Frameworks</span>
            <ul>
                <li>.NET</li>
                <li>Node.js</li>
                <li>Angular</li>
                <li>Spring Framework</li>
            </ul>
        </li>
        <li>
            <span>Tools &amp; IDEs</span>
            <ul>
                <li>IntelliJ / JetBrains Family</li>
                <li>Visual Studio Code</li>
                <li>Visual Studio</li>
            </ul>
        </li>
        <li>
            <span>Operating Systems</span>
            <ul>
                <li>Windows</li>
                <li>Debian GNU/Linux</li>
                <li>macOS</li>
            </ul>
        </li>
        <li>
            <span>CI / CD</span>
            <ul>
                <li>Azure DevOps</li>
                <li>GitLab</li>
                <li>TeamCity</li>
            </ul>
        </li>
        <li>
            <span>Productivity Tools</span>
            <ul>
                <li>JIRA</li>
                <li>Microsoft Office</li>
            </ul>
        </li>
    </ul>
</div>

<!-- Projects -->
<div>
    <h1>Projects</h1>
    <p>
        These are some public projects I have been working on.
    </p>
    
    <div>
        <h2>Detlefs Reise durchs Weltall</h2>
        <p>
            "Detlefs Reise durchs Weltall" ("Detlefs Space Journey") is a puzzle game
            built during my first study week at SAE Institute as a challenge. Inspired
            by the puzzle game "Sokoban", which has been released first in 1982. 
        </p>
        <p>
            Detlef is a chubby unicorn moving chess figures across a board to reach his
            destination.
        </p>
    </div>

    <div>
        <h2>WROOOM!!!</h2>
        <p>
            "WROOOM!!!" is a small bridge builder game also built during a study week.
        </p>
    </div>

    <div>
        <h2>CarPi</h2>
        <p>
            CarPi is a project line I have been working as a hobby since 2016. It is centered
            around developing a custom in-car display for showing consumption and other technical
            stats. It dives into different topics like Raspberry Pis, the OBD-II protocol, CAN BUS,
            etc.
        </p>
    </div>

    <div>
        <h2>CarPod</h2>
        <p>
            CarPod was a self developed iOS app intended to allow safe interaction with an iPod Touch
            playing music through a car stereo. The central feature of it was, that it could detect
            when a car was running or not (based on if it was charging) and start or stop the music
            accordingly. The app has been de-listed from the Apple App Store around 2015. It is regarded
            as the predecessor of the CarPi project line.
        </p>
    </div>
</div>

<!-- Contact -->
<div>
    <h1>Contact</h1>
    <p>
        If you would like to get in contact with me, please use one of the following methods:
    </p>
    <ul>
        <li>
            <b>Email</b>:
            <a href="mailto:raphael+cv@guntersweiler.net">raphael+cv@guntersweiler.net</a>
        </li>
        <li>
            <b>LinkedIn</b>:
            <a href="https://linkedin.com/in/raphael-guntersweiler-82aa42141">https://linkedin.com/in/raphael-guntersweiler-82aa42141</a>
        </li>
    </ul>
</div>
