---
layout: home
title: Categories
---

{% capture catString %}{% for c in site.categories %}{{ c[0] }}{% unless forloop.last %}|{% endunless %}{% endfor %}{% endcapture %}
{% assign categories = catString | split: '|' | sort %}

<ul class="category-list">
  {% for category in categories %}
  <li>
    <a href="#c_{{ category }}" class="category-pill">{{ category }}</a>
  </li>
  {% endfor %}
</ul>

<div class="categories">
  {% for cat in categories %}
  {% assign posts = site.categories[cat] %}
  <div class="category" id="c_{{ t }}">
    <h3>
      {{ cat }}

      <small>
        (<a href="#top">top</a>)
      </small>
    </h3>
    <ul class="page-list">
      {% for post in posts %}
      <li>
        <span class="meta post-date">
          {{ post.date | date: "%-d %b %Y" }}
        </span>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
