---
layout: home
title: Posts
---

{% for post in site.posts %}
<div class="blog-post">
    <h1>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    <div class="post-metadata">
        on <span class="meta date">{{ post.date | date:"%-d %b %Y" }}</span>
        by <span class="meta author">{{ post.author }}</span>
        in <span class="meta category">
            <a href="{{ site.baseurl }}/posts/categories#c_{{ post.categories }}">{{ post.categories }}</a>
        </span>
    </div>
    <div class="post-preview">
        {{ post.excerpt | strip_html | strip_newlines | truncatewords: 100, ' &hellip;' }}
        <span class="read-more">
            <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
        </span>
    </div>
    <div class="post-tags">
        {% for tag in post.tags %}
        <a href="{{ site.baseurl }}/posts/tags#tag_{{ tag }}" class="tag-pill">#{{ tag }}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}
