---
layout: home
title: Tags
---

{% capture tagString %}{% for tag in site.tags %}{{ tag[0] }}{% unless forloop.last %}|{% endunless %}{% endfor %}{% endcapture %}
{% assign tags = tagString | split: '|' | sort %}

<div class="tag-list">
  {% for tag in tags %}
  <a href="#tag_{{ tag }}" class="tag-pill">#{{ tag }}</a>
  {% endfor %}
</div>

<div class="tags">
  {% for tag in tags %}
  {% assign posts = site.tags[tag] %}
  <div class="tag" id="tag_{{ tag }}">
    <h3>
      #<code>{{ tag }}</code>

      <small>
        (<a href="#top">top</a>)
      </small>
    </h3>
    <ul class="page-list">
      {% for post in posts %}
      <li>
        <span class="meta post-date">
          {{ post.date | date: "%-d %b %Y" }}
        </span>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
