<!DOCTYPE html>
<html lang="en" class="theme--default">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Raphael Guntersweiler</title>
    <link rel="stylesheet" href="{{'/assets/main.css'}}">
    <link rel="alternate"
          type="application/rss+xml"
          title="Subscribe to my blog"
          href="{{ site.baseurl }}/feed.xml"
          />
    <script src="{{'/assets/main.js'}}"></script>
</head>
<body>
    <!-- Global "top" anchor -->
    <span id="top"></span>

    <!-- Skip Navigation -->
    <a href="#page-content" class="skip-nav">Skip Navigation</a>

    <!-- Global Note Header -->
    {% if site.data.globalHeader.show %}
    <div class="global-header {{ site.data.globalHeader.custom-class }}">
        <div class="global-header-content">
            <b>{{ site.data.globalHeader.title }}</b>
            {{ site.data.globalHeader.message }}
            {% if site.data.globalHeader.link.show %}
            <a href="{{ site.data.globalHeader.link.url }}" target="_blank">
                {{ site.data.globalHeader.link.title }}
            </a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <!-- Desktop Navbar -->
    <div class="navbar desktop" aria-label="Desktop Navigation Bar">
        <a class="brand" href="/">{{ site.title }}</a>

        {% for link in site.data.nav.left %}
            {% if link.children %}
            <!-- Dropdown Nav Item -->
            <span class="dropdown">
                <a href="javascript:void()">{{ link.name }}</a>
                <div class="dropdown-content">
                    {% for child in link.children %}
                    <a href="{{ child.link }}">{{ child.name }}</a>
                    {% endfor %}
                </div>
            </span>
            {% else %}
            <a href="{{ link.link }}">{{ link.name }}</a>
            {% endif %}
        {% endfor %}

        <span class="spacer"></span>

        {% for link in site.data.nav.right %}
        <a href="{{ link.link }}">{{ link.name }}</a>
        {% endfor %}
        <a href="#" class="theme-switcher hidden">Switch Theme</a>
    </div>

    <!-- Mobile Navbar -->
    <div class="navbar mobile hidden" aria-label="Mobile Navigation Bar">
        <a class="brand" href="/">{{ site.title }}</a>

        <span class="spacer"></span>

        <a href="#" class="theme-switcher hidden">Theme</a>
    </div>

    <!-- Page Content -->
    <div id="page-content">
        <h1 class="page-title">{{ page.title }}</h1>
        <article>
            {{ content }}
        </article>
    </div>
    <footer>
        <p class="copyright-note">
            <span class="copyright">&COPY; 2023, Raphael Guntersweiler, All rights reserved (unless specified otherwise)!</span>
        </p>
        {% include generated.html %}
        <p class="footer-links">
            <a href="{% link manifesto.md %}">Manifesto</a>
            &ndash;
            <a href="{% link tos.html %}">Terms of Service</a>
            &ndash;
            <a href="{% link privacy.html %}">Privacy Policy</a>
            &ndash;
            <a href="{% link impressum.md %}">Impressum</a>
            &ndash;
            <a href="{% link credits.md %}">Credits</a>
        </p>
    </footer>
</body>
</html>