---
layout: default
---

<div class="post-metadata">
    <p>
        posted in
        <span class="meta categories">
            {% for category in page.categories %}
            <a href="{% link posts/categories.html %}{{ site.baseurl }}#c_{{ category }}">{{ category }}</a>
            {% endfor %}
        </span>
        on
        <span class="meta date">{{ page.date | date:"%A, %-d %b %Y" }}</span>
        by
        <span class="meta author">{{ page.author }}</span>
    </p>
</div>

{% if page.draft %}
<div class="alert info">
    <div class="title">
        &#x270F;
        Draft
    </div>
    <div class="content">
        This article is a draft and is currently unfinished.
    </div>
</div>
{% endif %}

{% if page.content_warnings %}
<div class="alert warning">
    <div class="title">
        &#9888;&#65039;
        Content Warning!
    </div>
    <div class="content">
        This article will discuss topics that may not be suitable for
        all. If you're uncomfortable with one or more of the following
        topics, please do not continue to read this article.

        <ul>
            {% for warning in page.content_warnings %}
                <li>{{ warning }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{{ page.content }}

<div class="post-tags">
    <b>Tags:</b>
    {% for tag in page.tags %}
    <a href="{% link posts/tags.html %}#tag_{{ tag }}" class="tag-pill">#{{ tag }}</a>
    {% endfor %}
</div>
